ion-content ion-toolbar {
  --background: translucent;
  background-color: #222428;
  overflow-y: hidden;
}

ion-content {
  --background: none;
  background-image: url('src/assets/img/back.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-card-header{
  background-color: #222428;
}

ion-card-title{
  font-size: 1.2rem;
  margin-bottom: -10px;
  color: rgba(230, 226, 1, 0.767);
}

ion-card-subtitle{
  font-size: 0.9rem;
  color: white;
  margin-top: 1.2rem;
  text-transform: capitalize;
}

.back{
  background-color: #222428;
  border-bottom: 1px solid rgba(141, 141, 141, 0.562);
}

.my-message{
  ion-card-title{
    text-align: right;
  }
}